body{
    background-color: rgb(28, 27, 27);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: aliceblue;
    margin: 0%;
}

.top-container{
    text-align: center;
    background-color: rgb(46 102 124);
}

h1{
	line-height: 1.1;
	margin: 0;
	font-weight: normal;
	padding: 20px 0px;
}

#RGB{
    font-size: 200%;
    text-transform: uppercase;
}

.middle-container{
    background-color: aliceblue;
    height : 2em ;
    color: black;
    text-align: center;
}

button{
    border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: rgb(46 102 124);
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

.selected {
    background: rgb(46 102 124);
	color: white;
}

#is-correct{
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width:20%;
    font-weight: bold;
    font-size: large;
    color: rgb(46, 102, 124);
    text-transform: uppercase;
}

button:hover {
	color: white;
	background: rgb(46 102 124);
}

.bottom-container{
    margin: 100px auto;
    width: 500px;
}

.square {
	width: 30%;
	background: rgb(46 102 124);
	padding-bottom: 30%;
	float: left;
	margin: 8px;
	border-radius: 20%;
	transition: background 0.6s;
}


